# PostgreSQL
POSTGRES_USER=inserire_utente_postgres
POSTGRES_PASSWORD=inserire_password_postgres
POSTGRES_DB=inserire_nome_database

# Amministratore iniziale dell'applicazione
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password

# URL pubblico del backend
VITE_API_URL=http://localhost:8100