# PostgreSQL
POSTGRES_USER=inserire_utente_postgres
POSTGRES_PASSWORD=inserire_password_postgres
POSTGRES_DB=inserire_nome_database

# Primo amministratore dell'applicazione
ADMIN_USERNAME=inserire_username_admin
ADMIN_PASSWORD=inserire_password_admin

# URL pubblico del backend usato dal frontend
VITE_API_URL=http://localhost:8100