# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.venv/
venv/
__pycache__/
*.pyc

.idea/
.env

.venv/
venv/
__pycache__/
*.pyc
.idea/

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*